body {
  color: #222222;
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

section {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

section>h1 {
  margin-top: 2em;
}

h2 {
  /* Typography Declarations */
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 1.2em;
  font-weight: bold;
}
.content-footer,
.masthead-heading,
.masthead-intro {
  /* Layout Declarations */
  text-align: center;
}

.masthead {
  padding: 4em 0;
  background-image: url(/Lesson\ 2/assets/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  border-top: solid 1em #ffcf33;
}

.masthead-intro {
  /* Layout Declarations */
  color: #ffffff;
  margin-bottom: 0.1em;
  /* Typography Declarations */
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 2em;
}

.masthead-heading {
  /* Layout Declarations */
  color: #efb623;
  margin-top: -0.2em;
  /* Typography Declarations */
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.masthead-profile-picture {
  /* Layout Declarations */
  width: 180px;
  height: 180px;
  object-fit: cover;
  object-position: 0 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 91px;
  border: #ffffff solid 4px;
}

.section-introduction>p,
.section-location>p,
.section-more_about_me>p,
.section-connect>p,
.content-footer>p {
  /* Typography Declarations */
  font-weight: 300;
  letter-spacing: 0.05em;
}

.section-more_about_me>h2 {
  /* Typography Declarations */
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 1.2em;
  font-weight: bold;
  /* Layout Declarations*/
  margin: 2em 0 1em 0;
}

.connect {
  background-color: #f1c863;
  padding: 1em;
}

.section-connect > h1 {
  margin-top: 1em;
}

.connect-email, 
.connect-textarea {
  width: 100%;
  margin: 0.25em 0;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.17);
  border-radius: 6px;
  border: none;
  outline: #9e833e;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #3e3d3d;
  padding: 5px 8px;
  transition: 0.2s ease 0s;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  line-height: 1.4em;
}

.connect-email-label:focus-within,
.connect-message-label:focus-within {
  font-weight: bold;
}

.connect-email:focus, 
.connect-textarea:focus {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
}

.connect-send-button {
  background:rgba(0, 0, 0, 0.70);
  margin: 1em 0;
  padding: 0.5em 1.5em;
  color: #ffffff;
  justify-content: center;
  border-radius: 0.5em;
  border: none;
  font-weight: 600;
  font-size: 1.1em;
}

.content-footer {
  padding: 20px 0;
  text-align: center;
  background-color: #3c6f89;
  text-decoration: none;
  border-bottom: solid 1em #ffcf33;
}

.social > li {
  display: inline-block;
  margin: 0 5px;
}
.content-footer > p {
  color: #f7ede1;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #f1c863;
}

@media only screen and (max-width: 500px) {
  .masthead {
    padding: 3em 0;
  }
  .masthead-heading {
    font-size: 3em;
  }
  .content-footer {
    padding: 2em 2.5em;
  }
}